<h1>Reset your password</h1>
<p>Hi <%= name %>, to reset your password, click on the following link:</p>
<p><a href="<%= link %>">Reset Password</a></p>
<p>Please note that the link will expire in one hour.</p>
